<launch>
  <arg name="host" default="192.168.11.11"/>
  <arg name="port" default="1445"/>

  <node name="laser_driver" type="laser_driver" pkg="opensw_ros">
    <param name="host" value="$(arg host)"/>
    <param name="port" value="$(arg port)"/>
  </node>

  <node name="imu_driver" type="imu_driver" pkg="opensw_ros">
    <param name="host" value="$(arg host)"/>
    <param name="port" value="$(arg port)"/>
    <param name="use_raw_data" value="false"/>
  </node>


</launch>